:root {
  --primary: #ddd;
  --dark: #333;
  --light: #fff;
  --shadow: 0 1px 9px rgba(104, 104, 104, 0.8);

  --darkblue: #181D3A;
  --lighterblue: #204260;
  --lightorange: #FFB766;
  --darkerorange: #FFA237;
  --red: #EB3D00;

  --cabin: 'Cabin', sans-serif;
  --stand : 'Old Standard TT', serif;
  --lora: 'Lora', serif;
  --roboto: 'Roboto', sans-serif;

}

html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--dark);
}

body {
  /* background: #ccc; */
  /* margin: 30px 50px;
  line-height: 1.4;
  text-align: center; */

}

.ui-selectmenu-text {
  font-size: 12px;
}



.wrapper {
  display: grid;
  grid-gap: 20px;
}

.wrapper header{
  text-align: center;
  line-height: .5;

}

.main-container{
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 3fr;
}



.left-side{
  /* background: red; */
  /* height: 500px; */
  /* overflow: scroll; */
  /* padding: 15px; */


}

.left-side .dashboard{
  display: grid;
  grid-gap: 10px;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-right: 1px solid lightgrey;
}

.dashboard div{
  padding: 5px;
  /* border: 1px solid grey; */
  /* line-height: 1.4px; */
  font-family: serif;
  /* background: var(--lightorange); */
  /* border-bottom: 1px solid lightgrey; */


}

.header {
  display: grid;
}

.header h1 {
  font-size: 35px;
  color: var(--lighterblue);
  text-shadow: var(--shadow);
}

.header h2 {
  font-size: 28px;
  color: var(--darkblue);
  font-weight: 400;
  font-family: var(--cabin);
}

.header img {
  width: 150px;
  height: 150px;
  position: absolute;
  right: 0;
  top: 0;
}

.news-selector h3{
  font-size: 24px;
}

.right-side{
  /* background: var(--lightorange); */
  /* margin-bottom: 400px; */
  min-height: 70vh;
  margin-top: 50px;
  margin-right: 20px;
}

.right-side img {
  max-height: 65vh;
  /* box-shadow: 3px 3px 5px 9px rgba(0,0,0,0.6); */
}

img{
  width: 100%;
  display: block;
  padding: 10px;
  /* text-shadow: 2px 2px 2px rgba(28,110,164,0); */
}

a {
  text-decoration: none;
  font-family: serif;
  font-size: 24px;
  color: var(--dark);

}

.desc {
  overflow: scroll;
}

.main-pic:hover {
  box-shadow: 3px 3px 5px 6px #ccc;
}

a:hover{
  color: var(--lighterblue)
}

.right-side ul{
  list-style: none;
  display: grid;
  grid-template-columns: 35vw 35vw;
  width: 90%;
  grid-gap: 10px;
}

.right-side li{
  display: grid;
  grid-gap: 10px;
  padding: 30px;
  text-align: center;
  /* background: green; */
  border: 1px solid var(--lighterblue);
  opacity: 0;
  animation-name: article;
  animation-duration: 3s;
  /* animation-delay: 3s; */
  animation-fill-mode: forwards;

  transition-property: transform;
  transition-duration: 1s;
}

input[type=text] {
  border: 1px solid var(--darkerorange);
  padding: 6px 10px;
  width: 200px;
}

input[type=text]:hover {
  box-shadow: var(--shadow);
}

li:hover {
  box-shadow: var(--shadow);
}

li h1{
  font-size: 35px;
  font-family: var(--stand);
  color: var(--red);
}

@keyframes article {
  0% {opacity:0}
  100% {opacity:1}
}

#keyword, #page {
  background: white;
  width: 150px;
  cursor: default;
}

.button{
  padding: 4px 6px;
}

#button{
  background: var(--lightorange);
  width: 200px;

}


.source-div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 20px;
  font-family: var(--roboto);
  width: 100%;

}


.source-div img{
  max-width: 200px;
  height: auto;
}

.source {
  font-family: var(--stand);
  font-size: 20px;
  /* display: none; */
}

.show {
  display: block;
}

.title{
  font-family: var(--cabin);
  font-size: 25px;
}

.title:hover {
  color: var(--darkerorange);
}

.desc {
  /* text-align: left; */
  font-family: var(--lora);
  font-size: 20px;
}

.fake-news:hover {
  transform: rotateY(180deg);
}

.footer {
  display: flex;
  justify-content: flex-end;
  text-align: center;
  align-items: baseline;
  background: var(--dark);
  margin-top: 20px;
}

.footer * {
  /* margin-left: px; */
  margin-right: 10px;
  margin-bottom: 5px;;
  color: white;
  font-size: 20px;
  padding: 5px;
}

.footer i {
  font-size: 30px;
}

.footer i:hover {
  color: var(--red);
}

.footer h3 {
  font-family: var(--cabin);
}

@media (max-width: 800px) {
  .right-side ul{
    list-style: none;
    display: grid;
    grid-template-columns: 1fr;
    width: 90%;
    grid-gap: 10px;
  }
}
